<!--
  Generated template for the ViewNewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <h3>TrainLK</h3>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div *ngIf="isNewsSet">
  <div class="center"> 
      <h3>{{newsItem.project_name}}</h3>
  </div>

  <img src="{{newsItem.url}}"/>

  <div class="single-blog-content mb-100">
      <!-- Post Meta -->
      <div class="post-meta">
          <p>{{newsItem.author}} on {{newsItem.date}} at{{newsItem.time}}</p>
      </div>
      <!-- Post Content -->
      <div class="post-content">
          <h6>{{newsItem.desc}}</h6>
        
          <!-- Post Meta -->
          <div class="post-meta second-part">
                <p>{{newsItem.author}} on {{newsItem.date}} at{{newsItem.time}}</p>
          </div>
      </div>
  </div>         
</div>
<div *ngIf="!isNewsSet" class="center">
    <ion-icon name="hammer"></ion-icon><br>
    Oh !! Something went wrong..
</div>
</ion-content>
