<!--
  Generated template for the SubmitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Submit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="submitForm()" id='submit-form'>
    <ion-item>
      <ion-label>Railway Line</ion-label>
      <ion-select>
        <ion-option *ngFor="let item of routes">{{item[1]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="type" name='alert-type'>
        <ion-option>Delay</ion-option>
        <ion-option>Cancellation</ion-option>
        <ion-option>Late Departure</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Train</ion-label>
      <ion-select>
        <ion-option>Train 1</ion-option>
        <ion-option>Other trains</ion-option>
      </ion-select>
      <!-- [(ngModel)]="alert.train" -->
    </ion-item>
    <ion-item *ngIf="type=='Delay'">
      <ion-label>Delay</ion-label>
      <ion-input type="number" name="delay"></ion-input>
      <ion-select>
        <ion-option>Min</ion-option>
        <ion-option>Hrs</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="type=='Late Departure'">
      <ion-label>Departure Time</ion-label>
      <ion-datetime displayFormat="h:mm:A" name="depature_time"></ion-datetime>
    </ion-item>
  </form>
  <button ion-button type="submit" form="submit-form" block>Submit</button>
</ion-content>